<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="xuan.xhaka.dao.ProductMapper">
 	<resultMap id="productMap" type="product">
 		<id property="product_id" column="product_id" />
 		<result property="productname" column="productname" />
 		<result property="price" column="price" />
 		<result property="quantity" column="quantity" />
 		<result property="status" column="status" />
 		<result property="id_category" column="id_category" />
 		<result property="title" column="title" />
 		<result property="highlight" column="highlight" />
 		<result property="product_new" column="product_new" />
 		<result property="detail" column="detail" />
 		<result property="sale" column="sale" />
 		<result property="size" column="size" />
 		<result property="create_at" column="create_at" />
 		<result property="updated_at" column="updated_at" />
 		<association property="category" javaType="category">
 			<id property="id_category" column="id_category"/>
 			<result property="name" column="name" />
 			<result property="name" column="name"/>
 		</association>
 		<collection property="listColor" javaType="List" ofType="xuan.xhaka.entity.ProductColor" column="product_id">
 			<result property="id_color" column="id_color"/>
 			<result property="name_color" column="name_color"/>
 			<result property="code" column="code"/>
 			<result property="img" column="img"/>
 		</collection>
 		
 		
 	</resultMap>
 	<!-- <resultMap id="colorMap" type="productColor">
 		<id property="id_color" column="id_color" />
 		<result property="name_color" column="name_color" />
 		<result property="code" column="code" />
 		<result property="img" column="img" />
 		<result property="id_product" column="product_id"/>
 	</resultMap> -->
 	<select id="getProductById" resultMap="productMap" resultType="product" parameterType="int">
 		SELECT p.product_id, p.id_category, p.productname, p.size, p.price, p.sale, 
 		p.quantity, p.status, p.title, p.highlight, p.product_new, p.detail, 
 		c.id_color, c.name_color, c.code, c.img, p.created_at, p.updated_at
 		FROM product AS p JOIN product_color AS c ON p.product_id=c.product_id
 		WHERE 1=1 AND p.product_id=#{product_id}
 		GROUP BY p.product_id, c.product_id
 		LIMIT 1
 	</select>
 	<select id="getAllProducts" resultType="product" resultMap="productMap">
 		SELECT p.product_id, p.id_category, p.productname, p.size, p.price, p.sale, 
 		p.quantity, p.status, p.title, p.highlight, p.product_new, p.detail, 
 		c.id_color, c.name_color, c.code, c.img, p.created_at, p.updated_at
 		FROM product AS p JOIN product_color AS c ON p.product_id=c.product_id
 		GROUP BY p.product_id, c.product_id
 	</select>
 	<select id="getProductsNew" resultType="product" resultMap="productMap">
 		SELECT p.product_id, p.id_category, p.productname, p.size, p.price, p.sale, 
 		p.quantity, p.status, p.title, p.highlight, p.product_new, p.detail, 
 		c.id_color, c.name_color, c.code, c.img, p.created_at, p.updated_at
 		FROM product AS p JOIN product_color AS c ON p.product_id=c.product_id
 		WHERE 1=1 AND p.product_new=true
 		GROUP BY p.product_id, c.product_id
 		ORDER BY RAND()
 		LIMIT 6
 	</select>
 	<select id="getProductsHighlight" resultType="product" resultMap="productMap">
 		SELECT p.product_id, p.id_category, p.productname, p.size, p.price, p.sale, 
 		p.quantity, p.status, p.title, p.highlight, p.product_new, p.detail, 
 		c.id_color, c.name_color, c.code, c.img, p.created_at, p.updated_at
 		FROM product AS p JOIN product_color AS c 
 		ON p.product_id=c.product_id 
 		WHERE 1=1 AND p.highlight=true
 		GROUP BY p.product_id, c.product_id
 		ORDER BY RAND()
 		LIMIT 9
 	</select>
 	<select id="getProductThumbnail" resultType="product" resultMap="productMap">
 		SELECT p.product_id, p.id_category, p.productname, p.size, p.price, p.sale, 
 		p.quantity, p.status, p.title, p.highlight, p.product_new, p.detail, 
 		c.id_color, c.name_color, c.code, c.img, p.created_at, p.updated_at
 		FROM product AS p   
 		JOIN category AS cat ON p.id_category=cat.id_category
 		JOIN product_color AS c ON p.product_id=c.product_id 
 		WHERE 1=1 and cat.name='Socks'
 		GROUP BY GROUP BY p.product_id, c.product_id
 	</select>
 	<select id="getProductByCategory" parameterType="int" resultType="product" resultMap="productMap">
 		SELECT p.product_id, p.id_category, p.productname, p.size, p.price, p.sale, 
 		p.quantity, p.status, p.title, p.highlight, p.product_new, p.detail, 
 		c.id_color, c.name_color, c.code, c.img, p.created_at, p.updated_at
 		FROM product AS p  
 		JOIN category AS cat ON p.id_category = cat.id_category
 		JOIN product_color AS c ON p.product_id=c.product_id
 		WHERE 1=1 and cat.id_category = #{id_category}
 		GROUP BY p.product_id, c.product_id
 	</select>
 	<select id="getProByPaging" parameterType="java.util.HashMap" resultType="product" resultMap="productMap" >
 		SELECT p.product_id, p.id_category, p.productname, p.size, p.price, p.sale, 
 		p.quantity, p.status, p.title, p.highlight, p.product_new, p.detail, 
 		c.id_color, c.name_color, c.code, c.img, p.created_at, p.updated_at
 		FROM product AS p
 		JOIN product_color AS c ON p.product_id=c.product_id
 		GROUP BY p.product_id, c.product_id
 		LIMIT #{start},#{totalProPerPage}
 	</select>
 	<insert id="insertProduct" parameterType="product" keyProperty="product_id" useGeneratedKeys="true">
 		INSERT INTO product(productname, price, quantity, status, id_category, title, highlight, product_new, detail, created_at, updated_at, size, sale )
 		VALUES
	 		<foreach collection="listProduct" item="product" open="(" separator="),(" close=")">
	 			#{productname},#{price},#{quantity},#{status},#{id_category},#{title},#{highlight},#{product_new},#{detail},#{create_at},#{updated_at},#{size},#{sale}
	 		</foreach>
 	</insert>
 	<delete id="deleteProduct" parameterType="int">
 		DELETE FROM product AS p WHERE p.product_id=#{product_id} 
 	</delete>
 	<delete id="deleteProDetailByProId" parameterType="int">
 		DELETE FROM product_detail AS pd WHERE pd.product_id=#{product_id}
 	</delete>
 	<delete id="deleteProByCatId" parameterType="int">
 		DELETE FROM product AS p WHERE p.id_category=#{id_category}
 	</delete>
 	<update id="updateProduct" parameterType="product">
		UPDATE product SET productname=#{productname}, price=#{price}, quantity=#{quantity},
		status=#{status},id_category=#{id_category},title=#{title},highlight=#{highlight},product_new=#{product_new},
		detail=#{detail}, updated_at=#{updated_at}, size=#{size}, sale=#{sale}
		WHERE product_id=#{product_id}
	</update>
 </mapper>