<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
  	<typeAliases>
  		<typeAlias type="xuan.xhaka.entity.Category" alias="category" />
  		<typeAlias type="xuan.xhaka.entity.Menu" alias="menu"/>
  		<typeAlias type="xuan.xhaka.entity.Slide" alias="slide"/>
  		<typeAlias type="xuan.xhaka.entity.Product" alias="product"/>
  		<typeAlias type="xuan.xhaka.entity.ProductColor" alias="productColor" />
  		<typeAlias type="xuan.xhaka.entity.Account" alias="account" />
  		<typeAlias type="xuan.xhaka.entity.Cart" alias="cart" />
  	</typeAliases>
  	<environments default="development">
  		<environment id="development">
		      <transactionManager type="JDBC"/>
		      <dataSource type="POOLED">
			        <property name="driver" value="com.mysql.jdbc.Driver"/>
			        <property name="url" value="jdbc:mysql://localhost:/employeemybbatis"/>
			        <property name="username" value="root"/>
			        <property name="password" value="abc123"/>
		      </dataSource>
   		 </environment>
  	</environments>
  	<mappers>
  		<mapper resource="xuan/xhaka/mappers/CategoryMapper.xml"/>
  		<mapper resource="xuan/xhaka/mappers/MenuMapper.xml"/>
  		<mapper resource="xuan/xhaka/mappers/SlideMapper.xml"/>
  		<mapper resource="xuan/xhaka/mappers/ProductMapper.xml"/>
  		<mapper resource="xuan/xhaka/mappers/AccountMapper.xml"/>
  	</mappers>
 </configuration>